

.container{
  text-align: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  padding: 100px;
  
  
}

.container button{
  background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
  border: none;
  height: 40px;
  width: 100px;
  color: white;
  border-radius: 10px;
  margin-left: 10px;
  font-weight: 800;
}

.container-title p {
  margin: 50px;
  font-weight: 900;

 
  

}